<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.workflow.mapper.WfDefNodeMapper">
    <select id="selectById"  resultType="com.qy.workflow.dto.WfNodeDTO" >
        SELECT a.to_node_id node_id,b.name
        FROM wf_def_node_relation a LEFT JOIN wf_def_node b
                                              ON a.wf_id=b.wf_id AND a.to_node_id=b.id
        WHERE a.wf_id=#{wfid} AND a.from_node_id=#{nodeid} AND a.is_deleted=0 AND b.node_type=2
    </select>
</mapper>
