<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.system.app.useruniquecode.mapper.UserUniqueCodeMapper">
    <select id="getDTOList" resultType="com.qy.system.app.useruniquecode.dto.UserUniqueCodeDTO">
        select t.*,d.phone,
        f_get_user_name(t.user_id) user_name,
        f_get_user_name(t.updator_id) updatorName
        from ark_user_unique_code t
        left join ark_uims_org_employee d on t.user_id = d.id and d.is_deleted = 0
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="getDTOListCondition" resultType="com.qy.system.app.useruniquecode.dto.UserUniqueCodeDTO">
        select t.*,d.phone,
            d.name user_name,
                f_get_user_name(t.updator_id) updatorName,
        f_get_ark_code_table_name('ark_user_unique_code.is_ignore', t.is_ignore) as is_ignore_name
        from ark_user_unique_code t
         left join ark_mbr_member d on t.user_id = d.id and d.is_deleted = 0
        where 1=1
        <if test="query.startCreateDate != null and query.startCreateDate != ''">
            and DATE_FORMAT(t.create_time,'%Y-%m-%d') &gt;= #{query.startCreateDate}
        </if>
        <if test="query.endCreateDate != null and query.endCreateDate != ''">
            and DATE_FORMAT(t.create_time,'%Y-%m-%d') &lt;= #{query.endCreateDate}
        </if>
        <if test="query.organizationId != null">
            and t.organization_id = #{query.organizationId}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and d.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName != ''">
            and d.name like concat('%',#{query.userName},'%')
        </if>
        <if test="query.isIgnore != null ">
            and t.is_ignore = #{query.isIgnore}
        </if>
        order by t.create_time desc
    </select>
    <select id="getDTOById" resultType="com.qy.system.app.useruniquecode.dto.UserUniqueCodeDTO">
        select t.*,d.phone,
            f_get_user_name(t.user_id) user_name,
                f_get_user_name(t.updator_id) updatorName,
               f_get_ark_code_table_name('ark_user_unique_code.is_ignore', t.is_ignore) as is_ignore_name
        from ark_user_unique_code t
                 left join ark_mbr_member d on t.user_id = d.id and d.is_deleted = 0
        where t.id=#{id}
    </select>

</mapper>
