<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.wf.defNodeEvent.mapper.DefNodeEventMapper">

    <delete id="deleteByNodeCode">
        delete from wf_def_node_event where node_code in
        <foreach collection="nodeCodeList" item="nodeCode" open="(" separator="," close=")">
            #{nodeCode}
        </foreach>
    </delete>
    <delete id="deleteByWfId">
        delete from wf_def_node_event where wf_id = #{wfId}
    </delete>
    <select id="getDefNodeEventCanUseList" resultType="com.qy.wf.defNodeEvent.entity.DefNodeEventEntity">
        SELECT * FROM wf_def_node_event where status=1 AND is_deleted=0 and wf_id=#{wfId} and node_id=#{nodeId} order by sort,create_time
    </select>
</mapper>
