<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.message.app.infrastructure.persistence.mybatis.mapper.MessageTemplateCustomParameterMapper">
  <resultMap id="BaseResultMap" type="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="templatel_id" jdbcType="INTEGER" property="templatelId" />
    <result column="key_id" jdbcType="VARCHAR" property="keyId" />
    <result column="key_mode" jdbcType="TINYINT" property="keyMode" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ark_msg_message_template_custom_parameter.id, ark_msg_message_template_custom_parameter.templatel_id,
    ark_msg_message_template_custom_parameter.key_id, ark_msg_message_template_custom_parameter.key_mode,
    ark_msg_message_template_custom_parameter.key_value, ark_msg_message_template_custom_parameter.title,  ark_msg_message_template_custom_parameter.remark
  </sql>
  <select id="selectByExample" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ark_msg_message_template_custom_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ark_msg_message_template_custom_parameter
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ark_msg_message_template_custom_parameter
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameterExample">
    delete from ark_msg_message_template_custom_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameter">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ark_msg_message_template_custom_parameter (templatel_id, key_id, key_mode,
      key_value, title)
    values (#{templatelId}, #{keyId,jdbcType=VARCHAR}, #{keyMode,jdbcType=TINYINT},
      #{keyValue,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameter">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ark_msg_message_template_custom_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templatelId != null">
        templatel_id,
      </if>
      <if test="keyId != null">
        key_id,
      </if>
      <if test="keyMode != null">
        key_mode,
      </if>
      <if test="keyValue != null">
        key_value,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templatelId != null">
        #{templatelId},
      </if>
      <if test="keyId != null">
        #{keyId,jdbcType=VARCHAR},
      </if>
      <if test="keyMode != null">
        #{keyMode,jdbcType=TINYINT},
      </if>
      <if test="keyValue != null">
        #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameterExample" resultType="java.lang.Long">
    select count(*) from ark_msg_message_template_custom_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ark_msg_message_template_custom_parameter
    <set>
      <if test="record.id != null">
        id = #{record.id},
      </if>
      <if test="record.templatelId != null">
        templatel_id = #{record.templatelId},
      </if>
      <if test="record.keyId != null">
        key_id = #{record.keyId,jdbcType=VARCHAR},
      </if>
      <if test="record.keyMode != null">
        key_mode = #{record.keyMode,jdbcType=TINYINT},
      </if>
      <if test="record.keyValue != null">
        key_value = #{record.keyValue,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        title = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ark_msg_message_template_custom_parameter
    set id = #{record.id},
      templatel_id = #{record.templatelId},
      key_id = #{record.keyId,jdbcType=VARCHAR},
      key_mode = #{record.keyMode,jdbcType=TINYINT},
      key_value = #{record.keyValue,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameter">
    update ark_msg_message_template_custom_parameter
    <set>
      <if test="templatelId != null">
        templatel_id = #{templatelId},
      </if>
      <if test="keyId != null">
        key_id = #{keyId,jdbcType=VARCHAR},
      </if>
      <if test="keyMode != null">
        key_mode = #{keyMode,jdbcType=TINYINT},
      </if>
      <if test="keyValue != null">
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qy.message.app.infrastructure.persistence.mybatis.dataobject.MessageTemplateCustomParameter">
    update ark_msg_message_template_custom_parameter
    set templatel_id = #{templatelId},
      key_id = #{keyId,jdbcType=VARCHAR},
      key_mode = #{keyMode,jdbcType=TINYINT},
      key_value = #{keyValue,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id}
  </update>
</mapper>